script(src='/stylesheets/flat/dist/js/vendor/jquery.min.js')
script(src='/stylesheets/bootstrap/js/bootstrap.min.js')
script(src='/javascripts/Chart.js')
//script(src='/stylesheets/flat/docs/assets/js/application.js')
//script(src='/stylesheets/flat/dist/js/flat-ui.min.js')
script(src='/javascripts/jquery.easing.1.3.min.js')
//script(src="/javascripts/timer/TimeCircles.js")
script(src="/javascripts/binary.js")
script(src='/javascripts/jquery.validate.js')
script(src='/javascripts/script.js')
