#footer
  //- .container.vert-offset-6
  //-     .row
  //-       .col-sm-12
  //-         #footer-nav.pull-left
  //-           ul.list-inline
  //-             li Copyright &copy; 2014 E-Learning
  //-         .social.pull-right
  //-           a(href='https://twitter.com/')
  //-             img(src='/images/twitter.205e991f5622.png')
  //-           a(href='https://www.facebook.com/')
  //-             img(src='/images/facebook.7bad9b890793.png')         
  //-           a(href='https://plus.google.com/')
  //-             img(src='/images/google-plus.3a4767b904a4.png')                 
  //-           a(href='http://www.linkedin.com/')
  //-             img(src='/images/linkedin.aa16dd424e51.png')
  nav.navbar.navbar-default(style="margin-bottom:0px")
    .container-fluid      
      .navbar-header
        span.navbar-brand Copyright &copy; 2015 E-Learning
      ul.nav.navbar-nav.navbar-right#footer-nav
          li
            a(href='www.facebook.com')
              i.fa.fa-facebook-official.fa-2x
          li
            a(href='www.twitter.com')
              i.fa.fa-twitter-square.fa-2x
          li
            a(href='/#portfolio')
              i.fa.fa-google-plus-square.fa-2x
          li
            a(href='/#contact')
              i.fa.fa-linkedin-square.fa-2x
        